@use "./variables" as *;
@use "sass:map";
@use "sass:meta";

@mixin sp-only {
  @media (max-width: $sp-max) {
    @content;
  }
}
@mixin tb-only {
  @media (min-width: $tb-min) and (max-width: $tb-max) {
    @content;
  }
}
@mixin dt-up {
  @media (min-width: $dt-min) {
    @content;
  }
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin clickable {
  cursor: pointer;
  user-select: none;
}
